{% extends "base.html" %}

{% macro color(text, color="white") %}
  <span class="{{-color-}}">{{ text }}</span>
{% endmacro %}

{% block dive_content %}
{%- for dive in dives -%}

{% block separator %}
<hr/>
{% endblock %}

<p>Configuration : GF:{{ settings.GF_LOW*100 }}-{{ settings.GF_HIGH*100 }}</p>
{%- if dive.is_repetitive_dive -%}
<p>{{- color(" - Repetitive dive - surface interval: %s mins" % dive.get_surface_interval(), "yellow") }}</p>
{%- endif -%}

{{ self.separator() }}

  {% for exc in dive.dive_exceptions %}
  <h2> {{ color("Exception: ", "red")-}}
  {{ color(exc.__repr__(), "red") -}}
  : {{ color(exc.description, "red") }} </h2>
  {%- endfor -%}
  <table>
  {% for segment in dive.output_segments %}
    <tr>
    <td>{{ "%8s"|format(segment.type|upper) }}</td>
    <td>{{ " at %3d"|format(segment.depth|int) }}m</td>
    <td>for {{ segment.get_time_str() }}</td>
    <td>[RT:{{ segment.get_run_time_str() }}]</td>
    <td>on {{ " %12s"|format(segment.tank|string) }}</td>
    <td>SP:{{ segment.setpoint }}</td>
    {% if segment.get_end() > settings.DEFAULT_MAX_END %}
      <td>{{color(" END:%im"|format(segment.get_end()), "red") }}</td>
    {% else %}
      <td>{{ " END:%im"|format(segment.get_end()) }}</td>
    {% endif %}
    </tr>
  {% endfor %}
  </table>

{{ self.separator() }}

  <p>Gas:</p>
  <table>
  {% for tank in dive.tanks %}
    <tr>
    <td>{{ " %12s : "|format(tank|string) }}</td>
    <td>Total: {{ "%6.1f"|format(tank.total_gas) }}l</td>
    <td>Used: {{ "%6.1fl"|format(tank.used_gas) }}</td>
    <td>{{ " (rem:%6.1fl or "|format(tank.remaining_gas) }} {{ "%db"|format(tank.remaining_gas / tank.tank_vol) }})</td>
    {% if not tank.check_rule() %}
      </tr>
      <tr><td colspan="4">{{color("       WARNING !!! Not enought remaining gas in the %s tank (min:" % tank, "red") }}
      {{ color("%6.1fl) !"|format(tank.min_gas),"red") }}</td></tr>
    {% else %}
      </tr>
    {% endif %}
  {% endfor %}
  </table>

{{ self.separator() }}

  Oxygen Toxicity: OTU:{{ dive.model.ox_tox.otu|int }}, CNS:
  {{ "%d"|format(dive.model.ox_tox.cns*100)}}%

{{ self.separator() }}
{% endfor %}
{% endblock %}



